/* Make the website scalable and more responsive by resizing elements of the pages */

/* PCs and large screens*/
@media (min-width: 1200px) {
    .topnav a {
        font-size: 1.5em;
    }

    .bigEventBanner h2{
        font-size: 1.5em;
    }

    article a p, 
    article a h2 {
        font-size: 1.5em;
        /* for testing purposes
        color: chartreuse;*/
    }
}

/* Laptops */
@media (min-width: 992px) and (max-width: 1199px){
    .topnav a {
        font-size: 1.25em;
    }

    .bigEventBanner h2{
        font-size: 1.25em;
    }

    article a,
    article p {
        font-size: 1.25em;
        /* for testing purposes
        color:blueviolet;*/
    }
}

/* Tablets */
@media(min-width: 768px) and (max-width: 991px){
    .topnav a {
        font-size: 1em;
    }

    .bigEventBanner h2{
        font-size: 1em;
    }

    article a,
    article p {
        font-size: 1em;
        /* for testing purposes
        color: blue;*/
    }
}

/* mobile phones */
@media (min-width: 480px) and (max-width: 767px){
    .topnav a {
        font-size: 1em;
    }

    .bigEventBanner h2{
        font-size: 1em;
    }

    article a,
    article p {
        font-size: 1em;
        /* for testing purposes
        color:brown; */
    }
}

/* smaller devices*/
@media (min-width: 320px) and (max-width: 479px){
    .topnav a {
        font-size: 1em;
    }

    .bigEventBanner h2{
        font-size: 1em;
    }

    article a,
    article p {
        font-size: 1em;
        /* for testing purposes
        color:darkgoldenrod;*/
    }
}